= content_for :title do
  Slider 175

= render 'partials/topbar'

.slides
  = render 'partials/slides/slide_1'
  = render 'partials/slides/slide_2'
  = render 'partials/slides/slide_3'
  = render 'partials/slides/slide_4'